.title {
    margin-top: 15px;
    font-size: 20px;
}

.date-list {
    margin: 0;
}

.date-list li {
    display: inline;
    font-size: 28px;
    font-weight: 700;
    padding-right: 10px;
}

.date-list > li > a {
    color: #333;
}

.date-list > li > a:focus, .date-list > li > a:hover {
    color: #f85c37;
}

.session-block {
    margin-bottom: 30px;
}
